*{}
*{
    margin         : 0;
    padding        : 0;
}
body {
    font-family: arial;
    width:60%;
    margin:auto;
}
@media screen and (max-width:768px) {
    body {
        width:80%;
    }
}
@media screen and (max-width:576px) {
    input[type="text"] {
        margin-bottom: 10px;
        width:100% !important;
    }
    body {
        font-size:12px;
    }
}
.link {
    border-collapse:collapse;
}
.link tr td {
    padding:5px 20px;
}
td {
    padding:5px 10px;
}
.title_table_link {
    text-align:center;
    font-weight:bold;
    font-size:20px; 
    color: blue;
}
input[type="text"] {
    background: lightblue;
    outline: none;
    border: 1px solid #64a7bd;
    padding: 5px;
    border-radius: 7px;
    box-sizing: border-box;
    width: 390px;
}
input[type="submit"] {
    border: 1px solid #ff006c;
    padding: 5px;
    border-radius: 6px;
    background: #ff006c;
    color: white;
    cursor: pointer;
}
.text_color {
    color:#005ddc;
}
.input_form {
    margin-top:20px;
    text-align:center;
    width: 100%;
}
.show_data {
    width:100%;
   margin-top:20px;
}
.show_data tr td:nth-of-type(1) {
    width:30px;
    text-align:center;
}
.show_data tr td:nth-of-type(2) {
    width:600px;
    
}
.show_data tr td:nth-of-type(3) {
    width:110px;
    text-align:center;
}
.show_data tr td:nth-of-type(4) {
    text-align:center;
}
a {
    text-decoration:none;
}
a:visited {
    color: #4007f5;
    }
span {
    color:red;
    font-weight:bold;
    display: inherit;
    text-align:center;
    margin-top:10px;
}

.box {
    width:100%;
    margin:auto;
}
.news {
    width:100%;
}
h1 {
    text-align:center;
    margin: 10px 0;
    font-size: 1.9em;
    color: #2d3138;
}
.back {
    display: flex;
    justify-content: flex-start;
}
p {
    text-align: justify;
    line-height: 25px;
}
.back a {
    text-decoration: none;
    padding: 0px 9px;
    border-radius: 10px;
    color: #005ddc;
    margin: 20px 0 40px 0;
    border: 1px solid;
    font-weight: 600;
    box-sizing: content-box;
}
.error_link {
    color:red;
    text-align: center;
    width:500px;
    margin:auto;
    font-weight:bold;
    font-size: 17px;
}
.text_content {
    text-indent: 20px;
    color:#363636;

}
span.arrow {
    color: #005ddc;
    display: inline;
    font-size: 1.5em;
    vertical-align: middle;
    font-weight: bold;
}
.flash {
    animation: flash 0.3s forwards;
    /* animation-iteration-count:infinite; */
}
@-webkit-keyframes flash {
    from {opacity:0}
    to {opacity:1}
}